@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
	src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-Bold.woff2') format('woff2'),
		url('../fonts/Poppins-Bold.woff') format('woff'),
		url('../fonts/Poppins-Bold.ttf') format('truetype'),
		url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.eot');
	src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-Medium.woff2') format('woff2'),
		url('../fonts/Poppins-Medium.woff') format('woff'),
		url('../fonts/Poppins-Medium.ttf') format('truetype'),
		url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-Regular.woff2') format('woff2'),
		url('../fonts/Poppins-Regular.woff') format('woff'),
		url('../fonts/Poppins-Regular.ttf') format('truetype'),
		url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
		url('../fonts/Poppins-SemiBold.woff') format('woff'),
		url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
		url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff2') format('woff2'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype'),
		url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Medium.eot');
	src: url('OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Medium.woff2') format('woff2'),
		url('OpenSans-Medium.woff') format('woff'),
		url('OpenSans-Medium.ttf') format('truetype'),
		url('OpenSans-Medium.svg#OpenSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-SemiBold.eot');
	src: url('OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-SemiBold.woff2') format('woff2'),
		url('OpenSans-SemiBold.woff') format('woff'),
		url('OpenSans-SemiBold.ttf') format('truetype'),
		url('OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.eot');
	src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Regular.woff2') format('woff2'),
		url('OpenSans-Regular.woff') format('woff'),
		url('OpenSans-Regular.ttf') format('truetype'),
		url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


:root {
	--primary-color: #9575CD;
	--secondary-color: #bea4fe;
	--dark-color: #212529;
	--background-color: #ffffff;
	--white-color: #ffffff;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins-Regular';
}
img{
	max-width: 100%;
}

h1 {
	font-size: 40px;
	line-height: 50px;
	font-family: 'Poppins-Bold';
}

h2 {
	font-size: 36px;
	line-height: 42px;
	font-family: 'Poppins-SemiBold';
	margin-bottom: 25px;
	color: var(--dark-color);
}

h3 {
	font-size: 34px;
	line-height: 42px;
	font-family: 'Poppins-Medium';
}

h4 {
	font-size: 32px;
	line-height: 40px;
	font-family: 'Poppins-Regular';
}

h5 {
	font-size: 30px;
	line-height: 36px;
	font-family: 'Poppins-Regular';
}

h6 {
	font-size: 28px;
	line-height: 34px;
	font-family: 'Poppins-Regular';
}

a,a:focus {
	text-decoration: none;
}

/* ::selection {
	color: var(--primary-color);
} */

input:focus,
textarea:focus {
	outline: none;
	box-shadow: none !important;
}

a:hover,
p a:hover {
	text-decoration: none;
	color: #9575CD;
}

p,
ul li,
ol li {
	font-family: 'Poppins-Regular';
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 28px;
	color: #505050;
}

p a {
	font-family: 'Poppins-Regular';
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 30px;
}

p {
	margin: 0px 0px 15px 0px;
}

.container {
	width: 100%;
    max-width: 1890px;
    padding: 0px 50px;
    height: 100%;
}
header
{
	background-color:#0D748A;
	height: 90px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9;
}
header .logo{
	width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
	position: relative;
    top: 50px;
}
header .logo a{
	display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 119px;
    margin: 0px auto;
}
header .logo a img{
	width: 100%;
    height: 100%;
}
header .container{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile_icon  a{
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #D9D9D9;
	width: 51px;
    height: 51px;
}
.profile_icon {
	display: flex;
    align-items: center;
    column-gap: 14px;
}
img{
	width: 100%;
    height: 100%;
}
.profile_info{
	font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.profile_info span{
	display: block;
    font-size: 14px;
    color: rgb(255 255 255 / 80%);
}
.sidebar{
	background-color: #EEEEEE;
    width: 374px;
    margin-left: auto;
    height: 100vh;
    border-left: 1px solid #eeeeee;
	position: fixed;
	right: 0;
	top: 90px;
}
.sidebar .tab{
	background-color: #FFFFFF;
    padding: 12px 20px;
    border-bottom: 2px solid #EEEEEE;
}
.sidebar .tab p{
	margin-bottom: 0px;
}
.sidebar .tab a{
	display: flex;
    justify-content: flex-end;
	column-gap: 11px;
	align-items: center;
}
.sidebar .tab.active,.sidebar .tab:hover{
    background-color: #0D748A;
}
.sidebar .tab.active p,.sidebar .tab:hover p{
	color: #fff;
}
.sidebar .tab a .icon{
	height: 22px;
}
.sidebar .tab:hover a .icon, .sidebar .tab.active a .icon{
	filter: brightness(7);
}
.main-title{
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}
.main-title h1{
	font-size: 40px;
	font-weight: 600;
	color: #333333;
	margin-bottom: 0px;
}
.main-title p{
	margin-bottom: 0px;
}
.content_part{
	display: flex;
	width: calc(100% - 374px);
    padding-right: 50px;
	flex-wrap: wrap;
	padding-bottom: 100px;
}
.content_part .entry_wrapper{
	width: 100%;
	margin-bottom: 30px;
	padding: 200px 0px 0px;
}
.content_part .container{
    padding-right: 0px;
}
.main{
	display: flex;
}
.dashboard_sec .box{
	background-color: #EEEEEE;
    border-radius: 10px;
    padding: 30px;
	box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
	position: relative;
    min-height: 236px;
	margin-bottom: 66px;
	width: calc(33.33% - 44px);
    margin-right: 66px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.dashboard_sec .box:nth-child(3n){
	margin-right: 0px;
}
.dashboard_sec .row{
	display: flex;
    flex-wrap: wrap;
	margin: 0px;
}
.dashboard_sec .box .count{
	color: #9BB4CA;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.dashboard_sec .box .box_name{
	position: absolute;
    height: 70px;
    background-color: #9BB4CA;
    bottom: 0px;
    width: 100%;
    left: 0px;
    border-radius: 0px 0px 10px 10px;
}
.dashboard_sec .box .box_name p{
	margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
}
.dashboard_sec .box a{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.button a{
	background-color: #FBC545;
	font-size: 18px;
	font-weight: 500;
	border-radius: 50px;
	padding: 12px 40px;
	color: #fff;
	line-height: 26px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
.button a:hover{
	background-color:#0D748A;
	box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 15%);
}
.dashboard_sec .box:hover{
	box-shadow: 0px 4px 13px 0px rgb(0 0 0 / 25%);
}
.main-title .button{
	margin-right: 0px;
}
table{
	border: 1px solid #CCCCCC;
    border-collapse: collapse;
    table-layout: auto;
	width: 100%;
}
table tr th,table tr td{
	padding: 10px 20px;
    text-align: center;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-size: 18px;
}
table tr td a.delete{
	padding: 5px 20px;
    background-color: #D35A5A;
    border-radius: 50px;
    color: #fff;
	margin: 0px 5px;
	font-size: 16px;
}
table tr td a.delete:hover{
	background-color: #a43f3f;
}
table tr td a.edit:hover{
	background-color: #329f5e;
}
table tr td a.edit{
	padding: 5px 20px;
    background-color:#61C98A;
    border-radius: 50px;
    color: #fff;
	margin: 0px 5px;
	font-size: 16px;
}
.adduser{
	max-width: 640px;
    background-color: #EEEEEE;
    padding: 50px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 13%);
}
.adduser form .mb-3{
	margin-bottom: 20px!important;
}
.adduser form input{
	border-radius: 50px;
    padding: 14px 20px;
    border: 1px solid #ccc;
    text-align: right;
    color: #ccc;
    font-size: 16px;
	max-width: 405px;
    margin: 0px auto;
}
input::placeholder{
	color: #ccc;
}
.form-control:focus {
    color: #333!important;
    border-color: #0d748a!important;
}
.checkbox_wrap{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 30px;
}
.checkbox_wrap h6{
	font-size: 18px;
	font-family: 'Poppins-Bold';
}
.checkbox_wrap .form-check-input[type=radio]{
	padding: 0px;
	width: 25px;
    height: 25px;
    border-radius: 50px;
	margin-right: 5px;
}
.checkbox_wrap .form-check{
	position: relative;
	display: flex;
    align-items: center;
	margin: 0px 0px;
}
.checkbox_wrap .form-check label{
	font-size: 18px;
    color: #333;
	position: initial;
}
.checkbox_wrap .form-check label:before{
	content: '';
	position: absolute;
	top: 1px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	border:1px solid #ccc;
	border-radius: 50px;
}
.checkbox_wrap .form-check label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 25px;
	height: 25px;
	border:1px solid #ccc;
	background-image: url('../images/check.svg');
	border-radius: 50px;
	opacity: 0;
}
.checkbox_wrap .form-check .form-check-input[type=radio]:checked{
    background-color: #9BB4CA;
}
.checkbox_wrap .form-check .form-check-input[type=radio]:checked + label:after{
	opacity: 1;
}
.checkbox_wrap .form-check.title p{
	font-size: 20px;
	color: #333;
	line-height:30px;
	margin-bottom: 0px;
}
.patient_detail .input_div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
	margin-bottom: 21px;
	margin-left: 40px;
}
.patient_detail form .d_flex{
	display: flex;
	justify-content: flex-end;
}
.patient_detail .input_div input{
	font-size: 18px;
    color: #333;
	width: 213px;
	order: 1;
	margin-right: 15px;
	background-color: #F9F9F9;
    border: 1px solid #ccc;
    border-radius: 50px;
	padding: 6px 20px;
}
.patient_detail .input_div label{
	order: 2;
	width: 130px;
    text-align: right;
}
.patient_detail{
	padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
nav.tabs{
	margin-top: 50px;
}
.tabs .nav-tabs{
	justify-content: flex-end;
	border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    width: fit-content;
    margin-left: auto;
	border-radius: 50px;
    padding: 8px;
}
.tabs .nav-tabs .nav-link.active{
	border-radius: 50px;
    background-color: #0d748a;
    padding: 10px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.tabs .nav-tabs .nav-link{
	color:#333;
	padding: 10px 30px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border: none;
}
button:focus,button:hover,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    outline: 0;
    border: none;
}
.content_part .tab-content{
	border: 1px solid #CCCCCC;
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 43px 47px;
    margin-top: 28px;
	width: max-content;
    margin-right: 0px;
    margin-left: auto;
}
.tab-content form .d_flex{
	display: flex;
    justify-content: flex-end;
}
.tab-content form .input_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 40px;
}
.tab-content form .input_div label {
    order: 2;
    min-width: 145px;
    text-align: right;
	font-size: 18px;
}
.tab-content form .input_div input {
    font-size: 18px;
    color: #333;
    width: 226px;
    order: 1;
    margin-right: 15px;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 50px;
}
.tab-content form .input_div.info{
	margin-bottom: 0px;
    margin-left: 0px;
}
.tab-content form .input_div.info input{
	width: calc(100% - 191px);
}
.tab-content form .input_div.info label {
    width: 206px;
}
.tab-content form .d_flex .input_div:first-child{
	margin-left: 0px;
}
.tab-content form .input_div.que label {
    width: auto;
}
.tab-content form .input_div.que label {
    width: auto;
}
.tab-content .button{
    margin-top: 30px;
	justify-content: flex-end;
}
/*****my css****/
.login{
	background-color:#73C8D9;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login .logo{
	width: 150px;
	margin: 0 auto;
}
.login-box{
	width: 600px;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);
	padding:30px 30px 50px;
	margin: 0px 15px;
	text-align: center;
}
.login-box h4{
	font-size: 27px;
	font-family: 'Poppins-Bold';
	line-height: 40px;
	color: #000000;
	margin-bottom: 20px;
}
.login-box input{
	background-color: #EAF9FC;
	border:1px solid #8DD0DD;
	border-radius: 30px;
	padding: 12px 15px;
	max-width: 400px;
	margin: 0 auto;
}
.login-box input::placeholder{
	color:#CCCCCC;
}

/***responsive css****/
@media only screen and (max-width: 480px) {
	.login-box {
		padding:30px 15px 50px;
	}
}
  